/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
}
body {
  width: 1024px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-flow: column wrap;
}
.container .nav-container {
  display: flex;
  flex-direction: column;
  height: 510px;
  margin-bottom: 17%;
}
.container .nav-container .navigation {
  width: 1024px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background-color: #9aa5b0;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container .nav-container .navigation .renameThisLater {
  display: flex;
  width: 90%;
  margin-left: 50px;
  margin-top: 5px;
  justify-content: space-between;
}
.container .nav-container .navigation .renameThisLater h1 {
  font-family: Roboto;
  font-size: 24px;
  color: #FFFFFF;
}
.container .nav-container .navigation .renameThisLater img {
  align-self: flex-end;
}
.container .nav-container .navigation nav {
  visibility: hidden;
}
.container .nav-container .navigation .jumbotron {
  display: block;
  width: 100%;
}
.container .nav-container .navigation .jumbotron img {
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 0px;
}
.container .nav-container .navigation .jumbotron h2 {
  position: absolute;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  Color: #FFFFFF;
  z-index: 100;
  left: 35px;
  top: 250px;
}
.container .home-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.container .home-container .top-section {
  display: flex;
  flex-direction: column;
}
.container .home-container .top-section .top-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5%;
}
.container .home-container .top-section .top-content .words {
  padding: 40px 5px;
  width: 50%;
}
.container .home-container .top-section .top-content .words h3 {
  font-family: Roboto;
  font-weight: Bold;
  color: #222222;
  font-size: 28px;
  margin: 3%;
}
.container .home-container .top-section .top-content .words p {
  font-weight: normal;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
  margin: 3%;
}
.container .home-container .top-section .top-content .words .button {
  background: #FFFFFF;
  border: 1px solid #222222;
  margin: 10px 0;
  padding: 5px 10px;
  width: 25%;
  margin: 3%;
}
.container .home-container .top-section .top-content .words .button p {
  font-size: 16px;
  font-family: Roboto;
  text-align: center;
}
.container .home-container .top-section .top-content .img-2 {
  margin-right: 4%;
}
