//mobile view 
@media (max-width: 500px) {
    body{
        width: 500px;
    }
    .container{
        .nav-container{
            width: 100%;
            margin-bottom: 80px;
            height: 300px;
            .navigation{
                width: 100%;
                .jumbotron {
                    width: 100%;
                    h2{
                        position: absolute;
                        top: 100px;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        } .home-container{
            margin: 0px 0px;
            .top-section{
                flex-direction: column;
                .top-content{
                    margin-left: 10px;
                    border: 1px solid red;
                    flex-direction: column-reverse;
                    .img-1{
                        background: url(img/home/home)
                    }
                }
            }
        }
    }
}