html{
    font-size: 62.5%;
  }
  body{
    width: 800px;
    margin: 0 auto;
    font-weight: bold;
  }
  .navigation {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    background-color: @navBackground;
    justify-content: space-between;
    // border: 4px solid blue;


    .renameThisLater {
        display: flex;
        width: 90%;
        margin-left: 50px;
        margin-top:5px;
        justify-content: space-between;
        h1{
            font-family: @font;
            font-size: 24px;
            color: @white;
          }
        img{
            align-self: flex-end;
        }
    }
    nav {
      visibility: hidden;
 
    }
    .nav-expanded {
        
    }
    .jumbotron {
        display: block;
        width: 100%;
        img {
          position: absolute;
          width: 100%;
          left: 0px;
          margin-top:0px;
        }
        h2 {
          position: absolute;
          font-family: @font;
          font-weight: @jumboWeight;
          font-size: @jumboSize;
          line-height : @jumboLineHeight;
          Color: @jumboColor;
          z-index: 100;
          left: 35px;
          top: 250px;
        }
  }

  }