html{
    font-size: 62.5%;
  }
  .container{
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    .nav-container{
        display: flex;
        flex-direction: column;
        // height: 510px;
        // width: 100vw;
    .navigation  {
      width: 100%;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      background-color: @navBackground;
      justify-content: space-between;
      .title-container {
          display: flex;
          width: 90%;
          margin-left: 50px;
          // margin-top:5px;
          justify-content: space-between;
          h1{
              font-family: @font;
              font-size: 24px;
              color: @white;
            }
          img{
              align-self: flex-end;
          }
      }
      nav {
        visibility: hidden;
  
      }
    }
  }

      .jumbotron {
        margin: 0 auto;
          display: block;
          width: 100%;
          margin-bottom: 70%;
          img {
            position: absolute;
            width: 100%;
            left: 0px;
            margin-top:0px;
          }
          h2 {
            position: absolute;
            font-family: @font;
            font-weight: @jumboWeight;
            font-size: @jumboSize;
            line-height : @jumboLineHeight;
            Color: @jumboColor;
            z-index: 100;
            left: 35px;
            top: 30%;
          }
        }

  .home-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    p{
      font-size: 16px;
      font-family: @font;
      text-align: center;
      line-height: @lineHeight;
      font-weight: @weight;
    }
    .top-section {
      display: flex;
      flex-direction: column;
      .top-content-1 {
        display: flex;
        flex-direction: row;
        margin-bottom:5%;
      }
      .top-content-2 {
        display: flex;
        flex-direction: row;
        margin-bottom:5%;
      }
      .words {
        padding: 40px 5px;
        width: 50%;
        h3{
          font-family: @font;
          font-weight: @subWeight;
          color:@subColor;
          font-size: @subSize;
          margin: 3%;
        }
        p{
          font-weight:normal;
          font-family: @font;
          font-size: @size;
          line-height: @lineHeight;
          width: 90%;
          margin: 3%;
        }
        .button{
          background: @white;
          border: 1px solid @black;
          margin: 10px 0;
          padding: 5px 10px;
          width: 25%;
          margin: 3%;
      }

      }
      #img-2{
        margin-right: 4%;
      }
    } //end of top section
    .bottom-section {
      width:100%;
      display: flex;
      flex-direction: column;
      img{
        width: 100%;
      }
        h3{
          font-family: @font;
          font-weight: @subWeight;
          color:@subColor;
          font-size:@subSize;
          margin: 3%;
      }
      .project{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        .reptar{
          display: block;
          position: relative;
          .right-box{
            position: absolute;
            right: 0px;
            top: 80%;
            background-color: @gray;
            width: 38%;
            height: 30%;
            border: 1px solid @white;
            display: flex;
            justify-content: center;
            h4{
              width: 90%;
              padding-top: 8%;
              font-size: @subSize;
              font-family: @font;
              font-weight: normal;
              text-align: center;
            }
          }
          .left-box{
            position: absolute;
            left: 0px;
            top: 80%;
            background-color: @gray;
            width: 41%;
            height: 35%;
            border: 1px solid @white;
            display: flex;
            justify-content: center;
            h4{
              width: 90%;
              padding-top: 8%;
              font-size: @subSize;
              font-family: @font;
              font-weight: normal;
              text-align: center;
            }
          }
        }
        .project-words{
          align-self: center;
          margin-top: 10%;
          width: 45%;
          p{
            margin: 5px;
            text-align: left;
          }
        }
      }
    }//end of bottom section
  }//end of home container
  .footer-container{
    width: 100%;
    height: 200px;
    background-color:@footer;
    display: flex;
    flex-direction: column;
    h5{
      font-family: @font;
      font-weight: @footerWeight;
      font-size: @footerSize;
      line-height: @footerLineHeight;
      color: @footerColor;

    }
    p{
      color: @gray;
      font-weight: 100;
      font-family: @font;
      font-size: 12px;
    }
    input{
      color: @footer;
      width: 98%;
      height: 30px;
      border-radius: 5px;
      font-size: @footerSize;
      margin: 2% 0;
    }
    .contact{
      display: flex;
      flex-flow: row wrap;
      padding-top: 3%;
      .email{
        margin: 0px 6%;
        h5{
          margin-bottom: 2%;
          width: 100%;
        }
      }
      .offices{
        display: flex;
        flex-flow: row wrap;
        width: 49%;
        align-content: space-around;
        .office{
          margin: 0px 5%;
          p{
            margin: 10px 0px;
          }
        }
      }
    }
    .copyright{
      align-self: center;
      margin-top: 3%;
      margin-bottom: 2%;
      width: 30%;
    }
  }//end of footer
}//end of container