//General 

@white : #FFFFFF;
@black: #222222;
@font: Roboto, Arial, Sans-serif;
@weight: normal;
@fontSize: 1rem;
@lineHeight: 2.4rem;

//home page
@gray: #d8d8d8;
@btnBrdr: @black;
//jumbo headers
@jumboWeight: Bold;
@jumboSize: 6.4rem;
@jumboLineHeight: 7.5rem;
@jumboColor: @white;
//sub headers
@subWeight: Bold;
@subSize: 2.8rem;
@subColor: @black;

//services page
@tabSelect: #5E9FB9;
@tabHover: @black;
@tabBackground: @white;

//footer
@footer: #828282;
@footerWeight: Regular;
@footerSize: 2rem;
@footerLineHeight: 2.6rem;
@footerColor: #FFFFFF;

//nav
@navBackground: RGBA(152, 164, 175,0.8);
@navWeight: Bold;
@navSize: 2.4rem;
@navColor: #FFFFFF;
@navExpandSize: 4.8rem;
@navExpandedLineHeight: 8.5rem;
@navHover: #222222;   
